# Python
venv/
__pycache__/
*.pyc

# SQLite
*.db

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Terraform lock optional
# .terraform.lock.hcl

# AWS
aws/
awscliv2.zip

# SSH Keys
*.pem

# Docker
*.tar

# OS files
.DS_Store

# VSCode
.vscode/

# Logs
*.log